@model Betabit.Lora.Nuget.Example.ViewModels.CustomerViewModel

@{
	ViewData["Title"] = "Customers";
}

<div class="row">
	<div class="col-md-3">
		@Html.Partial("_LoRaSubMenu")
	</div>
	<div class="col-md-9">
		<h2>Customers</h2>

		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.FirstName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.FastName)
				</th>
			</tr>

			<tr>
				<td>
					@Html.DisplayFor(model => model.FirstName)
				</td>
				<td>
					@Html.DisplayFor(model => model.FastName)
				</td>
			</tr>
		</table>
	</div>
</div>