@model IEnumerable<Betabit.Lora.Nuget.Example.ViewModels.NetworkSubscriptionViewModel>

@{
	ViewData["Title"] = "Network subscriptions";
}

<div class="row">
	<div class="col-md-3">
		@Html.Partial("_LoRaSubMenu")
	</div>
	<div class="col-md-9">
		<h2>Network subscriptions</h2>

		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ID)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CommercialName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Used)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Granted)
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CommercialName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Used)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Granted)
					</td>
				</tr>
			}
		</table>
	</div>
</div>